
.form-btn{
  background:#CD3333;
  width:100%;
  height: 100%;
  border-radius:0px 10px 10px 0px;
  border:1px solid #CD3333;
  color:white;
  cursor:pointer;
}
.header-section-selections div{
  border-right:1px solid #B1B1B1;
  margin-left:10px;
  cursor:pointer;
}
.header-section-selections select{
  color:#B1B1B1;
  border:none;
  cursor:pointer;
}
