header {
  background-color: green;
}
header:hover {
  background-color: red;
}
body{
  background:#2D8067
}

#anime{
    padding: 0;
    position: absolute;
    right: 300px;
    bottom: 300px;
    width: 150px;
}
#grill{
    position: relative;
    width: 150px;
    height: auto;
}
#left-eye{
    position: absolute;
    width: 7px;
    height: auto;
    top: 49px;
    left: 62px;
}
#right-eye{
    position: absolute;
    width: 7px;
    height: auto;
    top: 59px;
    left: 99px;
}
