@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.header {
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(70px, 1fr) 4fr 4fr 1fr;
  height: 800px;
  align-items: center;
  justify-items: center; }
  .header-menu {
    grid-column-start: 3; }
  .header-section {
    grid-row-start: 2;
    grid-column: 1/end;
    align-self: flex-end;
    font-family: "﻿Raleway-Regular", sans-serif;
    color: white;
    text-align: center; }
    .header-section h1 {
      font-size: 20pt;
      letter-spacing: 15px; }
    .header-section p {
      margin-top: 37px;
      font-size: 13pt;
      letter-spacing: 6px; }
  .header-button {
    grid-row-start: 3;
    align-self: flex-start;
    background-color: #ffe500;
    border: none;
    grid-column: 1/end;
    margin-top: 50px;
    padding: 16px 34px 21px;
    font-family: "﻿Raleway-Bold", sans-serif;
    font-size: 10pt;
    color: #1b1b1b;
    letter-spacing: 4px; }
  .header-arrow {
    grid-row-start: 4;
    grid-column: 1/end; }

.mountain {
  display: grid;
  justify-items: center;
  grid-template-rows: 265px 92px 300px;
  background-color: #ffffff;
  text-align: center; }
  .mountain article {
    grid-row-start: 3;
    align-self: flex-start;
    font-family: "﻿Raleway-Regular", sans-serif;
    font-size: 15pt;
    color: #707070;
    width: 55%;
    text-align: center;
    word-spacing: 6px;
    line-height: 30px;
    color: #707070; }
  .mountain img {
    align-self: flex-end; }

.services {
  background-color: #f4f4f4;
  display: grid;
  height: 930px;
  grid-template-rows: 130px 135px 665px;
  justify-items: center;
  align-items: flex-end; }
  .services-axes {
    grid-column: 1/end; }
  .services-text {
    text-align: center;
    grid-column: 1/end;
    font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    color: #1b1b1b; }
    .services-text h1 {
      letter-spacing: 15px;
      font-size: 20pt; }
    .services-text p {
      word-spacing: 6px;
      margin-top: 41px;
      color: #707070;
      font-size: 15pt;
      width: 764px;
      height: 44px;
      line-height: 30px; }
  .services-features {
    height: 542px;
    margin-bottom: 37px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 165px;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    text-align: center; }
    .services-features > div {
      box-shadow: 0 0 20px #e1e1e1; }
    .services-features-desc {
      background-color: #ffffff;
      display: grid;
      width: 230px;
      height: 310px;
      justify-items: center;
      padding: 20px; }
      .services-features-desc h1 {
        font-family: ﻿Raleway-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
        font-size: 15pt;
        color: #1b1b1b;
        letter-spacing: 8px; }
      .services-features-desc p {
        font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
        font-size: 12pt;
        color: #707070;
        word-spacing: 6px;
        line-height: 25px; }
    .services-features-graph {
      background-color: #ffffff;
      text-align: left;
      padding: 7px; }
      .services-features-graph progress::-webkit-progress-bar {
        width: 247px;
        height: 5px;
        margin-bottom: 15px;
        background-color: #f4f4f4; }
      .services-features-graph progress::-webkit-progress-value {
        width: 247px;
        height: 5px;
        margin-bottom: 15px;
        background-color: #ffe500; }
      .services-features-graph progress::-moz-progress-bar {
        width: 247px;
        height: 5px;
        margin-bottom: 15px;
        background-color: #f4f4f4;
        color: #ffe500; }
      .services-features-graph progress {
        width: 247px;
        height: 5px;
        margin-bottom: 15px;
        background-color: #f4f4f4;
        color: #ffe500; }
      .services-features-graph p {
        font-family: ﻿Raleway-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
        font-size: 13pt;
        color: #1b1b1b;
        margin-bottom: 10px; }

.statistics {
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 31px;
  height: 240px;
  align-content: center;
  justify-content: center; }
  .statistics div {
    text-align: center;
    height: 70px;
    background-color: #ffffff;
    padding-top: 10px; }
    .statistics div span {
      letter-spacing: 9px;
      font-family: ﻿Montserrat-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
      font-size: 15pt;
      color: #1b1b1b; }
    .statistics div p {
      letter-spacing: 4px;
      margin-top: 13px;
      font-family: ﻿Raleway-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
      font-size: 13pt;
      color: #1b1b1b; }

.portfolio {
  display: grid;
  min-height: 1109px;
  grid-template-rows: minmax(263px, max-content) 190px 439px 217px;
  align-items: flex-end;
  justify-items: center; }
  .portfolio-title {
    margin: 50px;
    display: grid;
    justify-items: center;
    text-align: center; }
    .portfolio-title p {
      font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
      font-size: 15pt;
      color: #707070;
      margin-top: 41px;
      line-height: 30px;
      word-spacing: 7px;
      max-width: 754px; }
    .portfolio-title h1 {
      font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
      font-size: 20pt;
      color: #1b1b1b;
      margin-top: 35px;
      letter-spacing: 20px; }
  .portfolio-nav {
    display: grid;
    grid-template-columns: 235px 235px 230px 235px 235px;
    justify-content: center;
    align-items: center; }
    .portfolio-nav-link {
      height: 62px;
      text-align: center;
      display: grid;
      align-content: center;
      border: 1px solid #6f6f6f;
      border-left: 0;
      border-right: 0; }
      .portfolio-nav-link p {
        font-family: ﻿Raleway-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
        font-size: 13pt;
        color: #1b1b1b; }
    .portfolio-nav img {
      justify-self: center;
      align-self: center; }
  .portfolio-projs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 320px 1fr);
    height: 350px; }
    .portfolio-projs > .white {
      background-color: #f4f4f4; }
    .portfolio-projs > .black {
      background-color: #1a1a1a; }
    .portfolio-projs-doe {
      display: grid;
      grid-template-columns: 32px 236px 32px;
      grid-template-rows: 35px 190px 35px;
      align-content: center;
      justify-content: center; }
      .portfolio-projs-doe-text {
        grid-row: 2/3;
        grid-column: 1/4;
        background-color: #ffffff;
        z-index: 1;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        font-family: ﻿Raleway-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
        font-size: 13pt;
        color: #1b1b1b; }
        .portfolio-projs-doe-text h1 {
          letter-spacing: 4px; }
        .portfolio-projs-doe-text p {
          word-spacing: 6px;
          line-height: 23px; }
      .portfolio-projs-doe-yellow {
        grid-row: 1/4;
        grid-column: 2/3;
        background-color: #fde831;
        z-index: 0; }
  .portfolio > button {
    background-color: #ffe500;
    font-family: ﻿Raleway-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 10pt;
    color: #1b1b1b;
    width: 230px;
    height: 45px;
    border: none;
    align-self: center; }

.veiw {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 380px;
  background-color: #1a1a1a; }
  .veiw button {
    background-color: inherit;
    letter-spacing: 12px;
    text-align: center;
    padding-left: 12px;
    height: 77px;
    width: 369px;
    font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 15pt;
    color: #ffe600;
    border: 1px solid #ffe600; }

/*# sourceMappingURL=style.css.map */
