*
  margin: 0
  padding: 0

.header
  background-color: #1a1a1a
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: minmax(70px, 1fr) 4fr 4fr 1fr
  height: 800px
  align-items: center
  justify-items: center
  &-menu
    grid-column-start: 3
  &-section
    grid-row-start: 2
    grid-column: 1 / end
    align-self: flex-end
    font-family: "﻿Raleway-Regular", sans-serif
    color: rgba(255, 255, 255, 255)
    text-align: center
    h1
      font-size: 20pt
      letter-spacing: 15px
    p
      margin-top: 37px
      font-size: 13pt
      letter-spacing: 6px
  &-button
    grid-row-start: 3
    align-self: flex-start
    background-color: #ffe500
    border: none
    grid-column: 1 / end
    margin-top: 50px
    padding: 16px 34px 21px
    font-family: "﻿Raleway-Bold", sans-serif
    font-size: 10pt
    color: rgba(27, 27, 27, 255)
    letter-spacing: 4px
  &-arrow
    grid-row-start: 4
    grid-column: 1 / end

.mountain
  display: grid
  justify-items: center
  grid-template-rows: 265px 92px 300px
  background-color: #ffffff
  text-align: center
  article
    grid-row-start: 3
    align-self: flex-start
    font-family: "﻿Raleway-Regular", sans-serif
    font-size: 15pt
    color: rgba(112, 112, 112, 255)
    width: 55%
    text-align: center
    word-spacing: 6px
    line-height: 30px
    color: #707070
  img
    align-self: flex-end

.services
  background-color: #f4f4f4
  display: grid
  height: 930px
  grid-template-rows: 130px 135px 665px
  justify-items: center
  align-items: flex-end
  &-axes
    grid-column: 1 / end
  &-text
    text-align: center
    grid-column: 1 / end
    font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif
    color: rgba(27, 27, 27, 255)
    h1
      letter-spacing: 15px
      font-size: 20pt
    p
      word-spacing: 6px
      margin-top: 41px
      color: #707070
      font-size: 15pt
      width: 764px
      height: 44px
      line-height: 30px
  &-features
    height: 542px
    margin-bottom: 37px
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 350px 165px
    grid-column-gap: 28px
    grid-row-gap: 28px
    text-align: center
    > div
      box-shadow: 0 0 20px #e1e1e1
    &-desc
      background-color: #ffffff
      display: grid
      width: 230px
      height: 310px
      justify-items: center
      padding: 20px
      h1
        font-family: ﻿Raleway-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif
        font-size: 15pt
        color: rgba(27, 27, 27, 255)
        letter-spacing: 8px
      p
        font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular
        font-size: 12pt
        color: rgba(112, 112, 112, 255)
        word-spacing: 6px
        line-height: 25px
    &-graph
      background-color: #ffffff
      text-align: left
      padding: 7px
      progress::-webkit-progress-bar
        width: 247px
        height: 5px
        margin-bottom: 15px
        background-color: #f4f4f4

      progress::-webkit-progress-value
        width: 247px
        height: 5px
        margin-bottom: 15px
        background-color: #ffe500

      progress::-moz-progress-bar
        width: 247px
        height: 5px
        margin-bottom: 15px
        background-color: #f4f4f4
        color: #ffe500

      progress
        width: 247px
        height: 5px
        margin-bottom: 15px
        background-color: #f4f4f4
        color: #ffe500
      p
        font-family: ﻿Raleway-Medium, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif
        font-size: 13pt
        color: rgba(27, 27, 27, 255)
        margin-bottom: 10px
